cachetools
certifi
charset-normalizer
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
idna
proto-plus
protobuf
pyasn1
pyasn1-modules
pyperclip
python-dotenv
requests
rsa
tqdm
typing_extensions
urllib3
